h1,
h2,
h3 {
  margin: 8px 0;
}

p {
  margin: 4px;
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 36px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
